body {
	font-family: 'Open Sans', sans-serif;
	background-color: #999;
	font-size: 18px;
}

header {
    padding: 0 15px;
    line-height: 100px;
    color: white;
    font-size: 40px;
    font-weight: 700;
    background-color: #159fd7;
}

.index-list {
	margin: 50px 0 0;
	padding: 0;
	list-style: none;
}

.index-list > li {
	display: block;
	width: 33.3333%;
	text-align: center;
	float: left;
}

.index-list > li > a {
	color: #fff;
	font-size: 30px;
}

/* LIVE SCORE */
.outer-container > .container-fluid {
	padding: 0;
}

.player-score {
	position: relative;
	display: block;
	padding: 20px;
	width: 50%;
	height: calc(100vh - 104px);
	float: left;
}

.player-score > .outer-container, .live-trucks > .outer-container, .live-vans > .outer-container {
	display: block;
	padding: 20px;
	height: 100%;
	color: #fff;
	background-color: #555;
	overflow: hidden;
}


.live-trucks, .live-vans {
	display: block;
	padding: 10px 20px 10px 10px;
	width: 50%;
	height: calc(50vh - 52px);
	float: left;
}

.live-trucks { padding-top: 20px; }
.live-vans { padding-bottom: 20px; }

.section-grid {
    position: absolute;
    top: 60px;
    right: 110px;
    bottom: 60px;
    left: 90px;
}

.section-grid[data-step="2"], .section-grid[data-step="4"] {
	display: none;
}

.section-grid > .point {
	position: absolute;
	top: 0;
	width: 20%;
	height: 100%;
	border-right: dashed 2px rgba(255,255,255,.2);
	z-index: 2;
}

.section-grid > .point:nth-child(2) { left: 20%;}
.section-grid > .point:nth-child(3) { left: 40%;}
.section-grid > .point:nth-child(4) { left: 60%;}

.section-grid > .point:before {
	position: absolute;
	top: -25px;
	left: 100%;
	color: rgba(255,255,255,.2);
	font-size: 12px;
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.section-grid > .point:nth-child(1):before {
	left: 112%;
	content: '5 min';
	color: white;
	width: 23px;
}
.section-grid > .point:nth-child(2):before {
	content: '10 min';
    color: white;
    width: 27px;
    left: 110%;
}
.section-grid > .point:nth-child(3):before {
	content: '15 min';
    color: white;
    width: 27px;
    left: 111%;
}
.section-grid > .point:nth-child(4):before {
	content: '20 min';
    color: white;
    width: 27px;
    left: 110%;
}

.step {
	position: absolute;
	width: calc(100% - 30px);
	opacity: 0;
	visibility: hidden;
	-moz-transform: translateX(50px);
	-webkit-transform: translateX(50px);
	-o-transform: translateX(50px);
	-ms-transform: translateX(50px);
	transform: translateX(50px);
    padding-bottom: 20px;
}

.step.slidein {
	opacity: 1;
	visibility: visible;
	-moz-transform: translateX(0);
	-webkit-transform: translateX(0);
	-o-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.step.slideout {
	opacity: 0;
	visibility: hidden;
	-moz-transform: translateX(-50px);
	-webkit-transform: translateX(-50px);
	-o-transform: translateX(-50px);
	-ms-transform: translateX(-50px);
	transform: translateX(-50px);
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

[data-step="1"] {
	display: block;
}

.list-indikator {
	font-size: 20px;
	text-transform: uppercase;
}

.list-indikator > img {
	margin: 0 10px 0 0;
	max-width: 100px;
}

.player-list {
	margin: -10px 0 0;
	padding: 0;
	list-style: none;
}

.player-list > li {
	position: relative;
	display: block;
    margin-top: 5px;
}

.player-list > li:first-child {
    margin-top: 45px;
}

.player-list > li:after {
	display: block;
	content: '';
	clear: both;
}

.player-list .left {
	display: block;
	position: relative;
	width: 50px;
	float: left;
}

.player-list .left > img {
	display: block;
	margin: 0;
	width: 50px;
	height: 50px;
}

.player-list .left:before {
	display: block;
	position: absolute;
	left: 0;
	bottom: 100%;
	content: attr(data-driver);
	white-space: nowrap;
	font-size: 12px;
}

.player-list .left > span {
	display: block;
	padding: 0 0 0 5px;
	width: 50px;
	height: 25px;
	line-height: 25px;
	background-color: #333;
}

.player-list .right {
	display: block;
	width: calc(100% - 150px);
	float: left;
}

.player-list .right > .sections {
	position: relative;
	display: block;
	width: 100%;
	height: 50px;
	background-color: #444;
	z-index: 1;
}

.player-list .right > .sections > .section {
	display: block;
	width: 20%;
	height: 100%;
	line-height: 50px;
	text-align: center;
	font-size: 16px;
	float: left;
	z-index: 3;
}

.player-list .right > .time {
	position: relative;
	display: block;
	width: 100%;
	height: 25px;
	line-height: 25px;
	background-color: #333;
	z-index: 4;
}

.player-list .right > .time > .counter {
	position: absolute;
	right: 5px;
}

.player-list .right > .time > .progress {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 0%;
	height: 25px;
	border-radius: 0;
	background-color: #0099bb;
	-webkit-transition: all 15600ms linear;
	-moz-transition: all 15600ms linear;
	-ms-transition: all 15600ms linear;
	-o-transition: all 15600ms linear;
	transition: all 15600ms linear;
}

.player-list .right > .time > .progress[data-progress="1"] { width: 1%; }
.player-list .right > .time > .progress[data-progress="2"] { width: 2%; }
.player-list .right > .time > .progress[data-progress="3"] { width: 3%; }
.player-list .right > .time > .progress[data-progress="4"] { width: 4%; }
.player-list .right > .time > .progress[data-progress="5"] { width: 5%; }
.player-list .right > .time > .progress[data-progress="6"] { width: 6%; }
.player-list .right > .time > .progress[data-progress="7"] { width: 7%; }
.player-list .right > .time > .progress[data-progress="8"] { width: 8%; }
.player-list .right > .time > .progress[data-progress="9"] { width: 9%; }
.player-list .right > .time > .progress[data-progress="10"] { width: 10%; }
.player-list .right > .time > .progress[data-progress="11"] { width: 11%; }
.player-list .right > .time > .progress[data-progress="12"] { width: 12%; }
.player-list .right > .time > .progress[data-progress="13"] { width: 13%; }
.player-list .right > .time > .progress[data-progress="14"] { width: 14%; }
.player-list .right > .time > .progress[data-progress="15"] { width: 15%; }
.player-list .right > .time > .progress[data-progress="16"] { width: 16%; }
.player-list .right > .time > .progress[data-progress="17"] { width: 17%; }
.player-list .right > .time > .progress[data-progress="18"] { width: 18%; }
.player-list .right > .time > .progress[data-progress="19"] { width: 19%; }
.player-list .right > .time > .progress[data-progress="20"] { width: 20%; }
.player-list .right > .time > .progress[data-progress="21"] { width: 21%; }
.player-list .right > .time > .progress[data-progress="22"] { width: 22%; }
.player-list .right > .time > .progress[data-progress="23"] { width: 23%; }
.player-list .right > .time > .progress[data-progress="24"] { width: 24%; }
.player-list .right > .time > .progress[data-progress="25"] { width: 25%; }
.player-list .right > .time > .progress[data-progress="26"] { width: 26%; }
.player-list .right > .time > .progress[data-progress="27"] { width: 27%; }
.player-list .right > .time > .progress[data-progress="28"] { width: 28%; }
.player-list .right > .time > .progress[data-progress="29"] { width: 29%; }
.player-list .right > .time > .progress[data-progress="30"] { width: 30%; }
.player-list .right > .time > .progress[data-progress="31"] { width: 31%; }
.player-list .right > .time > .progress[data-progress="32"] { width: 32%; }
.player-list .right > .time > .progress[data-progress="33"] { width: 33%; }
.player-list .right > .time > .progress[data-progress="34"] { width: 34%; }
.player-list .right > .time > .progress[data-progress="35"] { width: 35%; }
.player-list .right > .time > .progress[data-progress="36"] { width: 36%; }
.player-list .right > .time > .progress[data-progress="37"] { width: 37%; }
.player-list .right > .time > .progress[data-progress="38"] { width: 38%; }
.player-list .right > .time > .progress[data-progress="39"] { width: 39%; }
.player-list .right > .time > .progress[data-progress="40"] { width: 40%; }
.player-list .right > .time > .progress[data-progress="41"] { width: 41%; }
.player-list .right > .time > .progress[data-progress="42"] { width: 42%; }
.player-list .right > .time > .progress[data-progress="43"] { width: 43%; }
.player-list .right > .time > .progress[data-progress="44"] { width: 44%; }
.player-list .right > .time > .progress[data-progress="45"] { width: 45%; }
.player-list .right > .time > .progress[data-progress="46"] { width: 46%; }
.player-list .right > .time > .progress[data-progress="47"] { width: 47%; }
.player-list .right > .time > .progress[data-progress="48"] { width: 48%; }
.player-list .right > .time > .progress[data-progress="49"] { width: 49%; }
.player-list .right > .time > .progress[data-progress="50"] { width: 50%; }
.player-list .right > .time > .progress[data-progress="51"] { width: 51%; }
.player-list .right > .time > .progress[data-progress="52"] { width: 52%; }
.player-list .right > .time > .progress[data-progress="53"] { width: 53%; }
.player-list .right > .time > .progress[data-progress="54"] { width: 54%; }
.player-list .right > .time > .progress[data-progress="55"] { width: 55%; }
.player-list .right > .time > .progress[data-progress="56"] { width: 56%; }
.player-list .right > .time > .progress[data-progress="57"] { width: 57%; }
.player-list .right > .time > .progress[data-progress="58"] { width: 58%; }
.player-list .right > .time > .progress[data-progress="59"] { width: 59%; }
.player-list .right > .time > .progress[data-progress="60"] { width: 60%; }
.player-list .right > .time > .progress[data-progress="61"] { width: 61%; }
.player-list .right > .time > .progress[data-progress="62"] { width: 62%; }
.player-list .right > .time > .progress[data-progress="63"] { width: 63%; }
.player-list .right > .time > .progress[data-progress="64"] { width: 64%; }
.player-list .right > .time > .progress[data-progress="65"] { width: 65%; }
.player-list .right > .time > .progress[data-progress="66"] { width: 66%; }
.player-list .right > .time > .progress[data-progress="67"] { width: 67%; }
.player-list .right > .time > .progress[data-progress="68"] { width: 68%; }
.player-list .right > .time > .progress[data-progress="69"] { width: 69%; }
.player-list .right > .time > .progress[data-progress="70"] { width: 70%; }
.player-list .right > .time > .progress[data-progress="71"] { width: 71%; }
.player-list .right > .time > .progress[data-progress="72"] { width: 72%; }
.player-list .right > .time > .progress[data-progress="73"] { width: 73%; }
.player-list .right > .time > .progress[data-progress="74"] { width: 74%; }
.player-list .right > .time > .progress[data-progress="75"] { width: 75%; }
.player-list .right > .time > .progress[data-progress="76"] { width: 76%; }
.player-list .right > .time > .progress[data-progress="77"] { width: 77%; }
.player-list .right > .time > .progress[data-progress="78"] { width: 78%; }
.player-list .right > .time > .progress[data-progress="79"] { width: 79%; }
.player-list .right > .time > .progress[data-progress="80"] { width: 80%; }
.player-list .right > .time > .progress[data-progress="81"] { width: 81%; }
.player-list .right > .time > .progress[data-progress="82"] { width: 82%; }
.player-list .right > .time > .progress[data-progress="83"] { width: 83%; }
.player-list .right > .time > .progress[data-progress="84"] { width: 84%; }
.player-list .right > .time > .progress[data-progress="85"] { width: 85%; }
.player-list .right > .time > .progress[data-progress="86"] { width: 86%; }
.player-list .right > .time > .progress[data-progress="87"] { width: 87%; }
.player-list .right > .time > .progress[data-progress="88"] { width: 88%; }
.player-list .right > .time > .progress[data-progress="89"] { width: 89%; }
.player-list .right > .time > .progress[data-progress="90"] { width: 90%; }
.player-list .right > .time > .progress[data-progress="91"] { width: 91%; }
.player-list .right > .time > .progress[data-progress="92"] { width: 92%; }
.player-list .right > .time > .progress[data-progress="93"] { width: 93%; }
.player-list .right > .time > .progress[data-progress="94"] { width: 94%; }
.player-list .right > .time > .progress[data-progress="95"] { width: 95%; }
.player-list .right > .time > .progress[data-progress="96"] { width: 96%; }
.player-list .right > .time > .progress[data-progress="97"] { width: 97%; }
.player-list .right > .time > .progress[data-progress="98"] { width: 98%; }
.player-list .right > .time > .progress[data-progress="99"] { width: 99%; }
.player-list .right > .time > .progress[data-progress="100"] { width: 100%; }

.player-list .end {
	display: block;
	width: 100px;
	height: 75px;
	float: left;
}

.player-list .end > .total {
	display: block;
	padding: 12px 0 13px;
	width: 100%;
	text-align: center;
	font-size: 18px;
	background-color: #159fd7;
	height: 100%;
}

.top-list {
	position: relative;
	margin: 5px -6px -6px;
	padding: 0;
	list-style: none;
}

.top-list > li {
	display: block;
	padding: 6px;
}

.top-list > li:after {
	display: block;
	content: '';
	clear: both;
}

.top-list > li:first-child > .inner-top-list-container { background-color: #d9a441; }
.top-list > li:nth-child(2) > .inner-top-list-container { background-color: #ccc2c2; }
.top-list > li:nth-child(3) > .inner-top-list-container { background-color: #965a38; }
.top-list > li:nth-child(2) > .inner-top-list-container > .player-name { color: #333; }
.top-list > li > .inner-top-list-container {
	background-color: #444;
}

.top-list > li > .inner-top-list-container > img {
	margin: 0 10px 0 0;
	width: 45px;
}

.top-list > li > .inner-top-list-container > .results {
	float: right;
	background-color: #0099bb;
}

.top-list > li > .inner-top-list-container > .results > div {
	display: block;
	width: 45px;
	height: 45px;
	text-align: center;
	float: left;
}

.top-list > li > .inner-top-list-container > .results > .time {
	background-color: rgba(255,255,255,.2);
	line-height: 45px;
}

.top-list > li > .inner-top-list-container > .results > .fuel {
	padding-top: 10px;
	line-height: 15px;
}

.truck-list, .van-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.truck-list > li, .van-list > li {
    display: block;
    padding: 5px;
    margin-bottom: 20px;
    background-color: #444;
    min-height: 100px;
}

.truck-list > li:after, .van-list > li:after {
	display: block;
	clear: both;
	content: '';
}

.truck-list .static-data > .left, .truck-list .static-data > .right,.van-list .static-data > .left, .van-list .static-data > .right {
	display: block;
    font-size: 21px;
    float: left;
    width: 50%;
    margin-top: 5px;
    margin-bottom: -10px;
}

.truck-list .static-data > .right > div > span:first-child, .van-list .static-data > .right > div > span:first-child {
	display: inline-block;
	margin-right: 20px;
	width: 50%;
}

.truck-list .dynamic-data > .left, .truck-list .dynamic-data > .middle, .truck-list .dynamic-data > .right ,.van-list .dynamic-data > .left, .van-list .dynamic-data > .middle, .van-list .dynamic-data > .right {
	display: block;
	width: 33.3333%;
	float: left;
}

.player-list p {
    margin-bottom: 0;
    width: 100%;
    font-size: 30px;
}
.list-indikator {
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 12px;
    margin-bottom: -35px;
    border-bottom: 1px solid #444444;
}